<main class="bg-gray-900 text-white">
  <header class="flex justify-between items-center p-4 bg-gray-800">
    <img height="50" width="50" src="/public/images/logo.svg" alt="logo" />
    <h1 class="text-2xl font-bold">Game Library</h1>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Iniciar Sesión
    </button>
  </header>
  <div class="container mx-auto p-4">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      {{#each games}}
        <div
          onclick="window.location.href = '/game/{{this.id}}'"
          class="bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700 transition duration-300 ease-in-out"
        >
          <img
            src="/public/images/{{this.img}}"
            alt="Game 1"
            class="w-full h-48 object-cover rounded-lg mb-4"
          />
          <h2 class="text-lg font-bold">{{this.title}}</h2>
          <p class="mt-2">{{this.description}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</main>
